@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding 0;
}

html {
    font-family: "Roboto", sans-serif;
}

.logo-header {
    padding-left: 20px;
    background-color: aliceblue;
}

body {
    background-color: whitesmoke;
}

.container {
    padding-top: 12px;
    margin: 0 auto;

}

.title {
    vertical-align: middle;
    
}

.section {
    background-color: azure;
    padding: 30px 100px;
    border-bottom: 1px solid #FFFFA9;
}

.add-task {
    text-align: middle;
    background-color: dodgerblue;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.add-section {
    background-color: white;
    margin-left: 12px;
    border: groove 1px grey;
    border-radius: 10px;
    padding: 5px;
}

.menu{
    padding: 30px 100px;
}
main {
    padding: 30px 300px;
}

.positive {
    background-color: green;
}

.negative {
    background-color: red;
}

/* Bottoni */
.editorial {
    text-align: middle;
    background-color: dodgerblue;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.q1goals {
    text-align: middle;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.recruiting {
    text-align: middle;
    background-color: seagreen;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.mobile{
    text-align: middle;
    background-color:darkgoldenrod;
    border-radius: 10px;
    color: white;
    padding: 5px; 
}

.website{
    text-align: middle;
    background-color: pink;
    border-radius: 10px;
    color: white;
    padding: 5px; 
}

.sales{
    text-align: middle;
    background-color: green;    
    border-radius: 10px;
    color: white;
    padding: 5px; 
}
